.logo{
	background-color: gray;
	height: 50px;
	padding-top: 10px;
}
.main{
	background-image: url(bg.png);
	background-size: 100% 100%
}
p{
	color: white;
}
.h1{
	color: white;
}
h3{
	color: 
}

